@import '../../node_modules/modern-css-reset/dist/reset.min.css'
@import './common/_mixin.styl'
@import '../components/sample/sample.styl'

.is-pc
	+sp()
		display: none !important

.is-sp
	+not-sp()
		display: none !important
